#App {
    height: 100vh;
    display: flex;
    flex-direction: row;

}


/*  wrappers shared  */
.sectionBase {
    padding: 24px;
}

/*  wrappers  */
#projectsWrapper {
    opacity: .1;
    border: 1px solid rgba(255, 0, 0, 0.341);

    text-align: left;
    flex: 0;
    max-width: 400px;
}

#testWrapper {
    display: flex;
    flex-direction: column;

    flex: auto;
    height: 100vh;
}

#testSettingsWrapper {
    border: 1px solid rgba(255, 0, 0, 0.341);

    text-align: left;
    background-color: #333333;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#testResultWrapper {
    border: 1px solid rgba(255, 0, 0, 0.341);

    text-align: left;
    background-color: #333333;
    height: 280px;
}

/*  elements shared  */
.sectionTitle {}

.listBase {
    list-style-type: none;
    padding-left: 0;
}

/*  elements  */
#projectsList {
    border: 1px solid rgba(255, 0, 0, 0.341);

}

.projectsListItem {
    border: 3px solid rgba(255, 255, 255, 0.158);
    border-radius: 10px;
}

#testCasesView {
    flex: 1;
}

.testCasesViewItem {
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.341);
    margin: 5px;
}

#testResult {
    background-color: #333333b4;
    font-size: 12px;
}

.testResP {
    margin-block: 0;
}