* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

h2 {}

h3 {}

p,
li {}

button {}

.component {
    padding: .3rem 1rem;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app__header {
    cursor: pointer;
}

.App {
    flex: 1;
    display: flex;

}

#settings__wrapper {
    border: 1px solid brown;

    width: 100%;
}

#testboard__wrapper {
    border: 1px solid brown;

    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#testboard__board {
    margin-top: 2rem;
    flex: 1;
}

.test__item {

    border: 4px solid grey;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    align-content: center;
    text-align: center;
}

.test_item--add {
    transition: font-size 100ms ease-in-out;
    cursor: pointer;
}

.test_item--add:hover {
    font-size: 36px;
}

#projects__wrapper {
    border: 1px solid brown;

    text-align: left;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#projects__list {
    margin-top: 2rem;
    flex: 1;
}

#edittestcase__wrapper {
    border: 1px solid brown;
}