* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: rgb(34, 40, 49);
    --color-gray: rgb(57, 62, 70);
    --color-brown: rgb(148, 137, 121);
    --color-beige: rgb(223, 208, 184);
}

html {}

body {
    text-align: center;
    background-color: var(--color-black);
    margin: 0;
    color: var(--color-beige);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

h2 {}

h3 {}

p,
li {}

button {}

.component {
    padding: .3rem 1rem;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app__header {
    cursor: pointer;
}

.App {
    flex: 1;
    display: flex;

}

#settings__wrapper {
    border: 1px solid var(--color-brown);

    text-align: left;
    width: 100%;
}

#testboard__wrapper {
    border: 1px solid var(--color-brown);

    flex: 1;
    text-align: left;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#testboard__board {
    margin-top: 2rem;
    flex: 1;
}

.test__item {

    border: 4px solid var(--color-brown);
    border-radius: 20px;
    width: 80px;
    height: 80px;
    align-content: center;
    text-align: center;
}

.test_item--add {
    transition: font-size 100ms ease-in-out;
    cursor: pointer;
}

.test_item--add:hover {
    font-size: 36px;
}

#projects__wrapper {
    border: 1px solid var(--color-brown);

    text-align: left;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#projects__list {
    margin-top: 2rem;
    flex: 1;
}

#edittestcase__wrapper {
    border: 1px solid var(--color-brown);
    display: flex;
    flex-direction: column;
}

#edittestcase__header {
    display: flex;
    justify-content: space-between;
}

#edit__form {
    display: flex;
    flex-direction: column;
}

.form__section {}

#edit__form__method__url {
    display: flex;

}

#select__method {}

#input__url {
    flex: 1;
}

#edit__form__attributes {
    display: flex;
    flex-direction: column;
}

#button__group__fieldtype {
    display: block;
}

#inputs__fieldtype {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    border: 3px solid var(--color-brown);

    padding: 0;
    overflow: hidden;
    border-radius: 16px;
}

.input__keyvalue {
    border: 0;
}

.input__keyvalue>input {
    padding: 4px 6px;
    margin: 0;
    border: none;

    background-color: var(--color-gray);
    color: var(--color-beige);
}

.input__keyvalue:not(:last-child) {
    border-bottom: 1px solid var(--color-brown);
}